html, body {
  margin: 0;
  padding: 0;
  background-color:#000000;
}

canvas {
  position: absolute;               /* 2 */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); 
}

.simple {
display:inline-block;
padding:0.35em 1.2em;
border:0.1em solid #FFFFFF;
margin:0 0.3em 0.3em 0;
border-radius:0.12em;
box-sizing: border-box;
font-weight:300;
background-color:#c0c0c0;
color:#FFFFFF;
text-align:center;
transition: all 0.2s;
}

.simple:hover{
color:#000000;
background-color:#FFFFFF;
}

.switch {
position: relative;
left:0;
top:-2%;
display: inline-block;
width: 60px;
height: 34px;
}

.switch input { 
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: hsl(56, 94%, 79%);
}

input:focus + .slider {
box-shadow: 0 0 1px hsl(56, 94%, 79%);
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}
